@charset "UTF-8";

@media screen and (min-width:768px){
    body {
       background: linear-gradient(to bottom, #000000, #424242) no-repeat fixed;
    }

    #img {
        height: 100%;
        width: 30%;
        float: left;
        margin-right: 30px ;
    }

    #login {
        text-align: left;
        float: right;
        width: 700px;
        height: 400px;
    }
    #login > h1 {
        padding-top: 30px;
    }

}